<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Welcome to Event Booking System!</mat-card-title>
      <mat-card-subtitle>
        A Real-Time Event Ticketing System with Advanced Producer-Consumer
        Implementation
      </mat-card-subtitle>
      <mat-card-content>
        Instructions to interact with Event Booking System:
        <ul>
          <li>Initialize configuring the system settings.</li>
          <li>Register the vendors.</li>
          <li>Register the customers.</li>
          <li>Go to the Logs section.</li>
          <li>Start the system.</li>
          <li>
            View real-time logs or visit the TicketPool section for more info.
          </li>
          <li>Go to Tickets to view purchased tickets catalogue.</li>
        </ul>
      </mat-card-content>
    </mat-card-header>
    <mat-card-actions>
      <button mat-fab extended routerLink="/config-settings">
        Configure System
        <mat-icon>settings</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
