<div class="control-panel">
  <button
    mat-fab
    extended
    (click)="startThreads()"
    [disabled]="threadsRunning"
    class="start-button"
  >
    <mat-icon>play_circle</mat-icon>Start
  </button>

  <button
    mat-fab
    extended
    (click)="stopThreads()"
    class="stop-button"
    [disabled]="!threadsRunning"
  >
    <mat-icon>stop_circle</mat-icon>
    Stop
  </button>

  <button mat-fab extended (click)="resetLogs()">
    Reset<mat-icon>clear_all</mat-icon>
  </button>
</div>
