<div class="status-container">
  <!-- <h6>Ticket Pool Status</h6> -->
  <div *ngIf="ticketPoolStatus; else loading">
    <p><strong>Total Tickets:</strong> {{ ticketPoolStatus.totalTickets }}</p>
    <p><strong>Unsold Tickets:</strong> {{ ticketPoolStatus.unsoldTickets }}</p>
    <p><strong>Queue Size:</strong> {{ ticketPoolStatus.currentQueueSize }}</p>
    <p>
      <strong>Max Capacity:</strong> {{ ticketPoolStatus.maxTicketCapacity }}
    </p>
  </div>
  <ng-template #loading>
    <p>Loading ticket pool status...</p>
  </ng-template>
</div>
