<div class="container">
  <span class="topic">Configure Settings</span>

  <form [formGroup]="form" (ngSubmit)="saveConfiguration()">
    <!-- Total Tickets -->
    <mat-form-field appearance="outline">
      <mat-label>Total Tickets</mat-label>
      <input
        matInput
        placeholder="Total Tickets"
        formControlName="totalTickets"
        type="number"
      />
      <mat-icon matSuffix>functions</mat-icon>
      <mat-error *ngIf="form.get('totalTickets')?.errors">
        <span *ngIf="form.get('totalTickets')?.hasError('required')">
          Total tickets are required.
        </span>
        <span *ngIf="form.get('totalTickets')?.hasError('min')">
          Total tickets must be at least 20.
        </span>
        <span *ngIf="form.get('totalTickets')?.hasError('max')">
          Total tickets must be less than 1000.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Vendor Ticket Release Interval -->
    <mat-form-field appearance="outline">
      <mat-label>Vendor Ticket Release Rate</mat-label>
      <input
        matInput
        placeholder="Vendor Ticket Release Interval"
        formControlName="ticketReleaseRate"
        type="number"
      />
      <mat-icon matSuffix>speed</mat-icon>
      <mat-error *ngIf="form.get('ticketReleaseRate')?.errors">
        <span *ngIf="form.get('ticketReleaseRate')?.hasError('required')">
          This field is required.
        </span>
        <span
          *ngIf="form.get('ticketReleaseRate')?.hasError('intervalInvalid')"
        >
          {{ form.get('ticketReleaseRate')?.errors?.['message'] }}
        </span>
        <span
          *ngIf="form.get('ticketReleaseRate')?.hasError('intervalMismatch')"
        >
          {{ form.get('ticketReleaseRate')?.errors?.['message'] }}
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Customer Ticket Retrieval Interval -->
    <mat-form-field appearance="outline">
      <mat-label>Customer Ticket Retrieval Rate</mat-label>
      <input
        matInput
        placeholder="Customer Ticket Retrieval Interval"
        formControlName="customerRetrievalRate"
        type="number"
      />
      <mat-icon matSuffix>speed</mat-icon>
      <mat-error *ngIf="form.get('customerRetrievalRate')?.errors">
        <span *ngIf="form.get('customerRetrievalRate')?.hasError('required')">
          This field is required.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Maximum Ticket Capacity -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum Ticket Capacity</mat-label>
      <input
        matInput
        placeholder="Maximum Ticket Capacity"
        formControlName="maxTicketCapacity"
        type="number"
      />
      <mat-icon matSuffix>water_full</mat-icon>
      <mat-error *ngIf="form.get('maxTicketCapacity')?.errors">
        <span *ngIf="form.get('maxTicketCapacity')?.hasError('required')">
          This field is required.
        </span>
        <span
          *ngIf="form.get('maxTicketCapacity')?.hasError('maxCapacityInvalid')"
        >
          {{ form.get('maxTicketCapacity')?.errors?.['message'] }}
        </span>
      </mat-error>
    </mat-form-field>

    <div class="button-section">
      <button mat-stroked-button type="reset" (click)="form.reset()">
        Clear
      </button>

      <!-- Submit Button -->
      <button mat-flat-button type="submit" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </form>
</div>
