<div class="container">
  <span class="topic">Customer Registration</span>
  <form #customerForm="ngForm" (ngSubmit)="saveCustomer(customerForm)">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Name"
        name="Name"
        [(ngModel)]="customer.customerName"
        required
        pattern="^[a-zA-Z\s]+$"
        #name="ngModel"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="name.invalid && name.touched">
        <span *ngIf="name.errors?.['required']">Name is required.</span>
        <span *ngIf="name.errors?.['pattern']"
          >Name cannot contain numbers.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input
        matInput
        placeholder="Address"
        name="Address"
        [(ngModel)]="customer.customerAddress"
        required
        pattern="^[a-zA-Z\s,.-]+$"
        #address="ngModel"
      />
      <mat-icon matSuffix>apartment</mat-icon>
      <mat-error *ngIf="address.invalid && address.touched">
        <span *ngIf="address.errors?.['required']">Address is required.</span>
        <span *ngIf="address.errors?.['pattern']"
          >Address cannot contain numbers.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        name="Email"
        [(ngModel)]="customer.customerEmail"
        required
        email
        #email="ngModel"
      />
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-error *ngIf="email.invalid && email.touched">
        <span *ngIf="email.errors?.['required']">Email is required.</span>
        <span *ngIf="email.errors?.['email']">Invalid email format.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telephone Number</mat-label>
      <input
        matInput
        placeholder="Mobile"
        name="Telephone Number"
        [(ngModel)]="customer.customerTel"
        required
        pattern="^[0-9]{10}$"
        #tel="ngModel"
      />
      <mat-icon matSuffix>call</mat-icon>
      <mat-error *ngIf="tel.invalid && tel.touched">
        <span *ngIf="tel.errors?.['required']"
          >Telephone number is required.</span
        >
        <span *ngIf="tel.errors?.['pattern']"
          >Enter a valid 10-digit number.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount of tickets</mat-label>
      <input
        matInput
        placeholder="Number of tickets to be purchased"
        name="Amount of tickets"
        [(ngModel)]="customer.purchaseQuantity"
        required
        pattern="^[1-9]{1}$"
        #quantity="ngModel"
      />
      <mat-icon matSuffix>123</mat-icon>
      <mat-error *ngIf="quantity.invalid && quantity.touched">
        <span *ngIf="quantity.errors?.['required']"
          >This field is required.</span
        >
        <span *ngIf="quantity.errors?.['pattern']">Enter a valid number.</span>
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <div class="button-section">
      <button mat-stroked-button type="reset" (click)="customerForm.reset()">
        Clear
      </button>
      <button mat-flat-button type="submit" [disabled]="customerForm.invalid">
        Save
      </button>
    </div>
  </form>
</div>
